* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: contain;
    height: 100vh;
}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 30rem;
    padding: 0.5rem;
    border: solid 0.05rem rgba(0, 0, 0, 1);
    position: relative;
}

.alert.alert-danger {
    padding: 0.8rem;
    border-radius: 0;
    text-align: center;
    font-size: 0.7rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    display: none;
}