* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: contain;
    height: 100vh;
}

.tela-telefone {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 18rem;
    height: 30rem;

    padding: 0.5rem;
    
    border: solid 0.5px rgba(0, 0, 0, 1);

    position: relative;
}

.pagina-pedidos {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3.5rem;
    
    margin-bottom: 0.5rem;

    border-radius: 5px;
    background-color: #6C767D;

    color: #FFFFFF;
    font-size: 1.4rem;
}

.lista-pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0.5rem;

    width: 100%;
    height: 85%;

    overflow-y: scroll;

    position: relative;
}

.lista-pedidos::-webkit-scrollbar {
    width: 0rem;
}

.btn.btn-pedido {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 3rem;

    border: solid 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: none;
} 

.btn.btn-pedido:hover {
    background-color: rgba(78, 237, 163, 0.2);
    border: solid 1px rgb(169, 247, 169);
}

.btn.btn-pedido:active {
    box-shadow: none;
}

.alert.alert-danger {
    width: 100%;
    height: 4rem;

    padding: 1.4rem 1rem 1rem 1rem;

    border-radius: 0;

    text-align: center;
    font-size: 0.7rem;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.pedidos-entregues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 15%;
}

.imagem-pedido {
    width: 12rem;
    height: 12rem;
}

.texto-pedido {
    text-align: center;
}

.carregar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30%;
}

.spinner-border.text-danger {
    width: 6rem;
    height: 6rem;   
}

.carregando-texto {
    color: #dc3545;
    font-size: 0.8rem;

    position: absolute;
    top: 39%;
}

.hidden {
    display: none;
}